@media (max-width: 576px) {
    .slider {
        background: url("img/RectangleS.png");
        height: 690px !important;
    }
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-collapse {
        background: black;
    }
    .img-logo {
        height: 56px;
    }
    .img-leaf {
        right: -30%;
        top: 180%;
    }
    .icon {
        padding-left: 30px;
    }

    .wrap-title {
        top: 152px;
    }

    h1 {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 32px !important;
        text-align: center;
    }
    .p1 {
        margin: 20px auto !important;
        text-align: center;
    }
    .btn:not(:disabled):not(.disabled) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .img-tomat {
        display: none;
    }
    .img-potato img {
        width: 142px;
        height: 170px;
    }

    .img-potato {
        top: 130%;
    }

    .wrap-title-second {
        top: 50px;
    }

    h2 {
        margin-top: 20px;
        font-size: 28px !important;
    }

    .text {
        width: 100%;
        margin: 30px 0 60px 0 !important;
    }

    .btn-2:not(:disabled):not(.disabled),
    .img-onion {
        display: none;
    }

    .menu {
        width: 100%;
        margin-top: 0;
    }

    .icon-mobile {
        display: flex;
        margin-left: 25px;
    }

    .carousel-menu {
        display: none;
    }

    .img-left-list,
    .img-right-list {
        display: none;
    }

    .image1 {
        position: relative;
        top: -18%;
        left: 40%;
    }

    .round,
    .round1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        width: 287px;
        height: 287px;
    }

    .round1 {
        margin-left: 30px;
        margin-right: auto;
        border-radius: 50%;
        width: 287px;
        height: 287px;
    }

    .round2 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .card-img {
        margin-left: auto;
    }

    .card-text {
        width: 80%;
        margin-left: auto;
        margin-top: 30px;
        margin-bottom: 30px !important;
    }

    .card-text-first {
        width: 80%;
        margin-left: 70px;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .img-group {
        display: none;
    }
    .img-dishs {
        display: flex;
        flex-flow: wrap;
        width: 100%;
        margin-top: 1440px;
    }

    .img-dishs img {
        width: 100%;
    }

    .elipse-delivery {
        flex-direction: column;
    }

    .img-delivery {
        width: 355px;
        height: 270px;
        margin-left: 0;
    }

    .delivery {
        display: flex;
        flex-direction: column;
        height: 1500px;
    }

    .delivery .row {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 576px) {
        .carousel-inner .carousel-item > div {
            display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    @media (max-width: 576px) {
        .carousel-inner .carousel-item-end.active,
        .carousel-inner .carousel-item-next {
            transform: translateX(25%);
        }

        .carousel-inner .carousel-item-start.active,
        .carousel-inner .carousel-item-prev {
            transform: translateX(-25%);
        }
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }

    footer {
        height: 350px;
    }

    .footer-logo {
        flex: 0 !important;
        padding-left: 0 !important;
    }

    .footer-content {
        flex-direction: column;
    }
    .footer-logo::after,
    .footer-tel::after,
    .footer-adress::after {
        display: none;
    }

    .footer-content > div {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .footer-adress {
        /* width: 80% !important; */
        text-align: center;
    }

    .footer-down {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }

    .a-polit {
        padding: 0;
    }

    .footer-down a {
        margin-left: 0 !important;
    }

    .wrap-img-small {
        width: 100%;
    }
    .wrap-img-small img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }

    #recipeCarousel2 {
        display: block;
    }

    /* button {
        position: relative;
        text-decoration: none;
        color: #fff;
        margin-top: 50px;
        background: black;
        padding: 5 px 10 px;
        border-radius: 3 px;
        opacity: 1;
        -webkit-transition: all 0.5s linear 0s;
        -o-transition: all 0.5s linear 0s;
        transition: all 0.5s linear 0s;
      } */

    /* .wrap-hover {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.5s linear 0s;
        -o-transition: all 0.5s linear 0s;
        transition: all 0.5s linear 0s;
    } */
}
